@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Roboto+Mono:wght@400;500;700&display=swap');
:root {
	--logotype-front: url("logo/pax2pay-light-vertical-5.svg");
	--logotype-top: url("logo/pax2pay-light-horizontal-1.svg");
	--font-default: 10pt 'Open Sans', sans-serif;
	--font-caption: 'Anybody', sans-serif;
	--font-monospace: 10pt 'Roboto Mono', monospace;
}
dl > dt code,
dl > dt > code {
	font-weight: bold;
}
dl > dd + dt {
	margin-top: .3em;
}
